body{
    background: lightblue;
    margin: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;

}
.align-helper{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.top-nav-bar{
    background: lightblue;
    width:100%;
    position:fixed;
    top:0px;
    border-bottom: 1px solid #BBBBB2;
}
.top-nav-bar .company-logo{
    display: inline-block;
    width: 300px;
    height: 124px;
    background-image: url('Logo.png');
}


.main-window {
    margin: 150px auto 0;
    width: 1000px;
    
}

.btn{
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    width: 70px;
    border: 1px solid lightcoral;
    text-align: center;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    background: lightcoral;
    border: 1px solid #F3BDBD;
}

.main-window .json-viewer-container{
    height: 400px;
    width: 400px;
    background: white;
    overflow-x: hidden ;
    overflow-y: auto;
    margin: 0 45px 15px 45px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;

}

.main-window .json-viewer-container textarea{
    width: 95%;
    height: 60%;
    resize: none;
    margin: 8px;
}

.main-window .listed-items-container{
    min-height: 600px;
    width: 500px;
    background: white;
    display: inline-block;
    overflow-x: hidden ;
    overflow-y: auto;
    border-radius: 5px;
}

.main-window .listed-items-container .list-items{
}

.main-window .listed-items-container .list-items {

    overflow-x: hidden ;
    overflow-y: auto;
}

.main-window .listed-items-container .list-items ol{
    list-style-position: inside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-window .listed-items-container .list-items  li{
    list-style-type:decimal;
    width: calc(100% - 32px);;
    height: 50px;
    border: 2px solid rgb(246, 144, 144);
    margin: 16px;
    padding-left: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.main-window .listed-items-container .list-items  li .item-container{
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    overflow: hidden;
}

.main-window .listed-items-container .list-items  li .item-container .item-text{
    display: block;
    vertical-align: bottom;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 8px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main-window .listed-items-container .list-items  li .item-container .delete-item{
    width: 70px;
    display: block;
}


.main-window .listed-items-container .add-button {
    width:90%;
    height: 50px;
    border: 2px dashed red;
    margin: 16px;
    border-radius: 5px;

}
.main-window .listed-items-container .add-button:hover{
    cursor: pointer;
    background: lightblue;
}

.main-window .listed-items-container .add-button > * {
    vertical-align: middle;
}

.main-window .listed-items-container .add-button .text-input {
    width: 300px;
    border: 0; 
    padding-top: 3px;
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
}

.main-window .listed-items-container .add-button:hover .text-input {
    background: lightblue;
    border-bottom: 1px solid white;
}

.main-window .listed-items-container .add-button .text-input:focus {
    outline: 0;
    
}


.main-window .listed-items-container .add-button .add-icon-16x16{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('plus.png');
    margin-left: 5px;
}


.error-message{
    width:400px;
    top: 0;
    position: absolute;
    display: none;
    text-align: center;
    padding: 10px;
    border: 2px solid lightcoral;

    background: rgb(224, 223, 223);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 9px -8px 21px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px -8px 21px 0px rgba(0,0,0,0.15);
    box-shadow: 9px -8px 21px 0px rgba(0,0,0,0.15);
}
.noclick-background{
    position: fixed;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    display: none;
    /*
    I can do this without the !important, but then I'll have to change the location of this,
    because the javascript left css rule move me also
    */
    top:0 !important;
    left: 0 !important;

}